# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Database backups
db-backups/
*.tar.gz
*.dump

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/

# Temporary files
*.tmp
.cache/
temp/
package-lock.json
src/assets/images/valknut.png
.dockerignore
