<footer class="bg-dark text-white-50 py-4 mt-5">
    <div class="container text-center">
        <p class="mb-0">&copy; <%= new Date().getFullYear() %> Valknut. Powered by Lowland Vikings Niels</p>
    </div>
</footer>
